html,
body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: Mulish;
    font-size: 16px;
    line-height: 150%;
    color: #768A9D;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 971px;
    margin: 0px auto;
}
/* ----HEADER----------------------------------- */
.header {
    padding: 20px 0px 100px 0px;
    width: 100%;
    top: 0;
    left: 0;
}
.header__container {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.header__logo {
    flex: 0 1 25%;
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    flex: 0 1 33.333%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: flex-start;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0px 50px 0px 0px;
}
.menu__link {
    color: inherit;
}
.button {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    background: #0B243E;
    border-radius: 5px;
    padding: 8px 29px;
}
@media (max-width: 991.98px){
    .header {
        padding: 20px 0px 50px 0px;
    }
}
@media (max-width: 767.98px){
    .menu {
        display: none;
    } 
    .header__logo {
        flex: 0 1 50%;
    }
    .header__button{
        flex: 0 1 50%;
    }
}
@media (max-width: 479px){
    .header__container{
        padding: 0px 20px;
    }
    .button {
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(18, 59, 107, 0.15);
        border-radius: 10px;
        color: #000;
    }
}
/* --------PROGRAM--------------------------------------------------- */
.program {
}
.program__container {
    display: flex;
    padding: 0px 20px;
}
.program__content {
    flex: 0 1 50%;
    min-width: 490px;
}
.program__text {
}
.text-program {
}
.text-program__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: -1px;
    color: #0B243E;
}
.text-program__title:not(:last-child){
    padding: 0px 0px 30px 0px;
}
.text-program__text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -1px;
    color: #768A9D;
}
.text-program__money {
    padding: 0px 0px 20px 0px;
}
.text-program__money:last-child{
    padding: 0px 0px 50px 0px;
}
.text-program__day {
    padding: 0px 0px 50px 0px;
}
.text-program__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #0B243E;
    border-radius: 10px;
}
.text-program__button-img {
    padding: 6px 15px 0px 0px;
}
.text-program__button-text {
    color: #fff;
}


.program__image {
    flex: 0 1 50%;
}
.program__image img{ 
    max-width: 115%;
}
@media (max-width: 1087px){
    [class*="__container"]{
        padding: 0px 50px;
    }
}
@media (max-width: 991.98px){
    [class*="__container"]{
        padding: 0px 15px;
    }
    .text-program__title:not(:last-child){
        padding: 0px 0px 15px 0px;
    }
    .text-program__day {
        padding: 0px 0px 25px 0px;
    }
    .text-program__title {
        line-height: 130%;
    }

    .program__container {
        flex-direction: column;
        margin: 0;
    }
    .program__content {
        flex: 0 1 100%;
        min-width: 490px;
    }
    .text-program__button {
       width: 100%;
       margin: 0px 0px 40px 0px;
    }
    .program__image{ 
        flex: 1 1 100%;
        margin: 0px auto;
    }
    .text-program__title {
        font-size: 30px;
    }
    .text-program__text {
        flex-direction: row;
        font-size: 16px;
        gap: 20px;
    }
    .program__content {
        min-width: 100%;
    }
}
@media (max-width: 559.98px){
    .program__image img{ 
        padding: 0px 60px 0px 0px;
    }
}
@media (max-width: 320.98px){
    .program__image img{ 
        padding: 0px 30px 0px 0px;
    }
}

/* -------BENEFITS---------------------------------------- */
.benefits {
    padding: 100px 0px 150px 0px;
}
.benefits__container {
}
.benefits__service {
    line-height: 150%;
    color: #0B233B;
}
.service-benefits {
}
.service-benefits__title {
    font-weight: 800;
    font-size: 40px;
    padding: 0px 0px 50px 0px;
}
.service-benefits__items {
    display: flex;
    gap: 35px;
    height: 100%;
}
.service-benefits__item {
    flex: 0 1 33.333%;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(18, 59, 107, 0.15);
    border-radius: 20px;
    padding: 30px 20px;
}
.service-benefits__icon {
    padding: 0px 0px 25px 0px;
    align-items: center;
}
.service-benefits__title-card {
    font-weight: 700;
    font-size: 20px;
}
.service-benefits__title-card:not(:last-child){
    padding: 0px 0px 10px 0px;
}
.service-benefits__text {
    font-weight: 400;
    font-size: 16px;
}
@media (max-width: 1087px){
    .service-benefits__items {
        gap: 20px;
    }
}
@media (max-width: 991.98px){
    .service-benefits__items {
        gap: 15px;
    }
    .service-benefits__title {
        padding: 0px 0px 25px 0px;
    }
}
@media (max-width: 768.98px){
    .service-benefits__items {
        flex-direction: column;
        gap: 20px;
    }
    .service-benefits__item{
        display: flex;
    }
    .service-benefits__content{
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 25px;
    }
    .service-benefits__icon {
        padding: 0;
    }
}
@media (max-width: 479px){
    .benefits {
        padding: 70px 0px 150px 0px;
    } 
}

/* ------REPONSE--------------------------------------------------- */
.response{
}
.response__container {
}
.responses__content {
    padding: 0px 0px 100px 0px;
}
.content-responses {
    line-height: 150%;
    color: #0B243E;
}
.response__title {
    font-weight: 800;
    font-size: 40px;
    padding: 0px 0px 50px 0px;
}
.content-responses__items {
    display: flex;
    gap: 30px;
}
.content-responses__item {
    padding: 30px 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(18, 59, 107, 0.15);
    border-radius: 20px;
    flex: 0 1 50%;
}
.content-responses__title {
    font-weight: 700;
    font-size: 20px;
}
.content-responses__title:not(:last-child){
    padding: 0px 0px 20px 0px;
}
.content-responses__text {
    font-weight: 400;
    font-size: 16px;
    color: #768A9D;
}

@media (max-width: 1087px){
    .content-responses__items {
        gap: 20px;
    }   
}
@media (max-width: 768.98px){
    .content-responses__item{
        min-width: 370px;
    }
}
@media (max-width: 479px){
    .content-responses__item{
        min-width: 280px;
    }
}

/* ----BUTTON_SLIDER--------------------------------------------- */
.button-responses {
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
    padding: 50px 0px 0px 0px;
    justify-content: center;
}
.button-responses__slider {
    width: 6px;
    height: 6px;
    background: #BFD1EB;
    border-radius: 2px;
}
.button-responses__slider-active {
    width: 8px;
    height: 8px;
    background: #FFA339;
    border-radius: 2px;
}
@media (max-width: 479px){
    .button-responses {
        padding: 30px 0px 0px 0px;
    }
}
/* -------FOTTER------------------------------------------------- */
.footer {
}
.footer__container {
}
.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 0px 0px 100px 0px;
}
@media (max-width: 479px){
    .footer__text {
        padding: 0px 0px 50px 0px;
    }
}